backup

# Tmux
.config/tmux/plugins/

# Ctags
tags
.tags

# Vim files
Session.vim
lazy-lock.json

# C++
.ccls-cache
compile_commands.json
CPackConfig.cmake
CPackSourceConfig.cmake
CMakeUserPresets.json

# hdrop
hdrop.1

# No hang up
nohup.out
